[v-cloak] {
    display: none;
}

#wallet {
    color: rgb(255, 166, 0);
}

#rules {
    font-style: italic;
}

.center {
    align-content: center;
    text-align: center;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}